.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-card {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: -50px;
}

.login-card h2 {
    color: #fff;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.login-card input[type="text"],
.login-card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #007bff; /* Modify the color to your preferred one */
    border-radius: 4px;
    outline: none; /* Remove the default outline on focus */

    /* Optionally, you can add a subtle shadow to improve visibility */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.login-card input[type="text"]:focus,
.login-card input[type="password"]:focus {
    border-color: #0056b3; /* Darker shade of the border color on focus */
    box-shadow: 0px 2px 6px rgba(0, 91, 187, 0.5); /* Subtle shadow for focused state */
}

.login-card label {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
}


.login-card button {
    background-color: #6e8efb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-card button:hover {
    background-color: #5a67d8;
}
